<div class="article">
    <div class="article-title">Planets</div>
    <div class="section-right">
        <div class="article-section-title">Planet Encounter Probability By Star Type</div>
                <hr>
        <p>This group of charts shows the percent chance you will encounter different planet types based on the system's main star type.</p>
        <div class="section-right">
            <div class="chart-title">Common Planets</div>
            {{bar-chart data=commonPlanetTypeMapping sortKey="label"}}

            <div class="chart-title">Uncommon Planets</div>
            {{bar-chart data=ucommonPlanetTypeMapping sortKey="label"}}
        </div>
        <div class="article-section-title">Planet Encounter Probability By Mass Code</div>
                <hr>
        <p>This group of charts shows the percent chance you will encounter different planet types based on the mass code in the procedureally generated star system's name which is the bold letter in this example: "Wizz AR-D <strong>d</strong>1-42." These mass codes range from a (least massive) to h (highest mass). A great source of information is <a href="https://forums.frontier.co.uk/showthread.php?t=196297">this post</a> by "Jackie Silver" on the frontier forums.</p>
        <div class="section-right">
            <div class="chart-title">Common Planets</div>
            {{bar-chart data=commonPlanetMassTypeMapping sortKey="label"}}

            <div class="chart-title">Uncommon Planets</div>
            {{bar-chart data=uncommonPlanetMassTypeMapping sortKey="label"}}
        </div>
        <div class="article-section-title">Scans</div>
        <hr>
        <div class="section-right">
            {{pie-chart data=planetScansPie}}
        </div>
    </div>
</div>
{{outlet}}